body{
    background: #3d3d3d;
    color: rgb(175, 192, 206);
}

h2{
    padding: 20px;
    border: 1px solid #a1a7cc;
    border-radius: 20px;
    box-shadow: 10px 10px 2px 1px #ececec33;
}

p{
    padding: 20px;
    border: 1px solid #a1a7cc;
    border-radius: 20px;
    box-shadow: 10px 10px 2px 1px #ececec33;
}