body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: #6161bb;
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 20px;
}